Repository gitpod-io/website, pull requests merged in 2022-06, with the labels that each got.

#2234 fix(jetbrains): link to indexing per IDE
  generators/ide/jb-product.md
  gitpod/docs/ides-and-editors/intellij.md
  gitpod/docs/ides-and-editors/phpstorm.md
  gitpod/docs/ides-and-editors/pycharm.md
Labels: team: IDE, section: docs, editor: jetbrains

#2207 Document `gp top` command
  gitpod/docs/command-line-interface.md
Labels: team: IDE

#2151 Review Java Language Page
  .gitignore
  gitpod/docs/ides-and-editors/configure-your-editor-ide.md
  gitpod/docs/languages/java.md
  gitpod/docs/references/gitpod-yml.md
Labels: team: IDE

#2248 removing Self-Hosted price anchor + SaaS contact
  src/lib/components/pricing/plans-and-pricing.svelte
  src/lib/components/pricing/pricing-box.svelte
  src/lib/contents/self-hosted.ts
Labels: enterprise, design needed

#2303 Replace team billing images
  static/images/docs/team-billing-new.png
  static/images/docs/team-billing-subscribed.png
Labels: section: docs
