Repository gitpod-io/website, pull requests merged in 2022-10, with the labels that each got.

#2841 Fix heading on `/docs/integrations`
  gitpod/docs/integrations/index.md
Labels: bug, section: docs, bug-fix

#2632 Add `<Keybind>`
  gitpod/docs/configure/authentication/bitbucket-server.md
  gitpod/docs/configure/authentication/github-enterprise.md
  gitpod/docs/configure/authentication/github.md
  gitpod/docs/help/troubleshooting.md
  gitpod/docs/introduction/learn-gitpod/the-life-of-a-workspace.md
  src/lib/assets/global.css
  src/lib/components/docs/search.svelte
  src/lib/components/keybind.svelte
  src/lib/utils/helpers.ts
Labels: a11y, priority:low, ux, enhancement, feature: documentation

#2836 Ruby 3.1 is now the default
  gitpod/docs/introduction/languages/ruby.md
Labels: section: docs, docs-enhancement

#2868 docs(collaboration): clarify compatibility for joining shared ws
  gitpod/docs/configure/workspaces/collaboration.md
Labels: team: IDE

#2831 Document the new `Ports` view
  gitpod/docs/configure/workspaces/ports.md
  gitpod/docs/references/gitpod-yml.md
  src/lib/assets/global.css
  src/lib/components/action.svelte
  static/images/docs/ports-view-vscode.png
  static/images/docs/ports-view-vscodedesktop.png
  static/images/docs/ports-with-name-vscode.png
Labels: editor: vscode

#2879 Align post preview content to the left
  src/lib/components/blog/post-preview.svelte
Labels: section: blog, design improvement

#2852 Document RubyMine & WebStorm
  generators/ide/jb-gen.js
  generators/ide/jb-product.md
  gitpod/docs/references/ides-and-editors/goland.md
  gitpod/docs/references/ides-and-editors/intellij.md
  gitpod/docs/references/ides-and-editors/phpstorm.md
  gitpod/docs/references/ides-and-editors/pycharm.md
  gitpod/docs/references/ides-and-editors/rubymine.md
  gitpod/docs/references/ides-and-editors/webstorm.md
  src/lib/contents/docs/menu.ts
  src/lib/contents/home/index.ts
  static/images/editors/open-from-jetbrains-gateway.mp4
  static/images/editors/select-jetbrains-ide.gif
  static/images/index/rubymine.png
  static/images/index/webstorm.png
Labels: section: docs, editor: jetbrains, docs-enhancement

#2891 add composer info
  gitpod/docs/introduction/languages/php.md
Labels: CLA: signed

#2887 fix: code block in collaboration page
  gitpod/docs/configure/workspaces/collaboration.md
Labels: CLA: Signed

#2902 feat: New issue templates (following new labelling process)
  .github/ISSUE_TEMPLATE/CONTENT-BUG.yml
  .github/ISSUE_TEMPLATE/CONTENT-SUGGESTION.yml
  .github/ISSUE_TEMPLATE/DOCS-FEEDBACK.yml
  .github/ISSUE_TEMPLATE/DOCS-NEW-FEATURE.yml
  .github/ISSUE_TEMPLATE/TECHNICAL-BUG.yml
  .github/ISSUE_TEMPLATE/TECHNICAL-SUGGESTION.yml
  .github/ISSUE_TEMPLATE/UNKNOWN.yml
  README.md
Labels: Not Urgent - idea or suggestion

#2892 docs: clarification around proprietary vs code ext
  gitpod/docs/references/ides-and-editors/vscode-extensions.md
Labels: editor: code (browser), section: docs-content, Not Urgent - idea or suggestion

#2964 docs: fix capitalization issues on dotfiles page
  gitpod/docs/configure/user-settings/dotfiles.md
Labels: section: docs-content

#2960 Fix docs for deprection of projects under personal accounts.
  gitpod/docs/configure/authentication/github.md
  gitpod/docs/configure/projects/index.md
  gitpod/docs/configure/projects/prebuilds.md
  gitpod/docs/configure/teams/index.md
  gitpod/docs/introduction/learn-gitpod/gitpod-yaml.md
Labels: team: webapp

#2883 feat: October Changelog
  gitpod/docs/configure/projects/environment-variables.md
  gitpod/docs/configure/workspaces/ports.md
  gitpod/docs/references/gitpod-cli.md
  src/lib/contents/changelog/2022-10-31.md
  src/routes/changelog/index.svelte
  static/images/changelog/2022-10-31-og.jpg
  static/images/changelog/2022-10-31.jpg
  static/images/changelog/2022-10-31/responsive-ports.webm
  static/images/changelog/2022-10-31/start-new-workspace-with-this-prebuild.jpg
  static/images/editors/vscode-exposed-ports.png
Labels: section: changelog, Urgent - essential to quarter goal
