Repository gitpod-io/website, pull requests merged in 2022-07, with the labels that each got.

#2302 Experiment: IDE toggle
  gitpod/docs/config-ports.md
  src/lib/components/docs/cloud-platform-toggle.svelte
  src/lib/components/docs/ide-toggle.svelte
Labels: team: IDE, section: docs

#2458 reference architecture: add EKS transition steps
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/database.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/install.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
Labels: self-hosted

#2324 Add AWS instructions to single-cluster reference architecture
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/database.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/install.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/overview.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/preparations.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/registry.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/storage.md
  gitpod/docs/self-hosted/latest/reference-architecture/production-ready-single-cluster.md
  src/lib/components/docs/cloud-platform-toggle.svelte
Labels: do not merge
