Repository gitpod-io/website, pull requests merged in 2022-09, with the labels that each got.

#2676 nit-fix: typo in homepage
  src/lib/contents/home/index.ts
Labels: enhancement

#2677 Add Aws x Gitpod guide
  src/routes/guides/integrate-aws-cli-ecr/index.md
  static/images/guides/integrate-aws-cli-ecr/flow-diagram.png
  static/images/guides/integrate-aws-cli-ecr/header.jpg
  static/images/guides/integrate-aws-cli-ecr/teaser.jpg
Labels: section: guides

#2649 [ref-arch/eks] Add external-dns helm chart for EKS
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
Labels: team: self-hosted

#2673 [ref-arch/eks] Document cluster autoscaler setup instructions
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
Labels: team: self-hosted

#2606 Make reference architectures the default way of creating the infrastructure for Gitpod
  _redirects
  gitpod/docs/self-hosted/latest/advanced/air-gap.md
  gitpod/docs/self-hosted/latest/advanced/components.md
  gitpod/docs/self-hosted/latest/advanced/customization.md
  gitpod/docs/self-hosted/latest/advanced/index.md
  gitpod/docs/self-hosted/latest/advanced/resource-configuration.md
  gitpod/docs/self-hosted/latest/advanced/tls.md
  gitpod/docs/self-hosted/latest/backup-restore.md
  gitpod/docs/self-hosted/latest/cluster-requirements.md
  gitpod/docs/self-hosted/latest/cluster-set-up/on-amazon-eks.md
  gitpod/docs/self-hosted/latest/cluster-set-up/on-gke.md
  gitpod/docs/self-hosted/latest/cluster-set-up/on-k3s.md
  gitpod/docs/self-hosted/latest/cluster-set-up/on-microsoft-aks.md
  gitpod/docs/self-hosted/latest/index.md
  gitpod/docs/self-hosted/latest/installation-guides.md
  gitpod/docs/self-hosted/latest/installation/on-amazon-eks.md
  gitpod/docs/self-hosted/latest/installation/on-gke.md
  gitpod/docs/self-hosted/latest/installing-gitpod.md
  gitpod/docs/self-hosted/latest/local-preview.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/install.md
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
  gitpod/docs/self-hosted/latest/reference-architecture/index.md
  gitpod/docs/self-hosted/latest/reference-architecture/proof-of-value.md
  gitpod/docs/self-hosted/latest/reference-architecture/single-cluster-ref-arch.md
  gitpod/docs/self-hosted/latest/releases/index.md
  gitpod/docs/self-hosted/latest/required-components.md
  src/lib/components/big-pill.svelte
  src/lib/components/self-hosted/view-all-features.svelte
  src/lib/contents/changelog/2022-04-28.md
  src/lib/contents/changelog/2022-08-31.md
  src/lib/contents/docs/menu.ts
Labels: do not merge

#2571 Add EKS cluster setup guide to proof of value reference architecture
  gitpod/docs/self-hosted/latest/reference-architecture/proof-of-value.md
Labels: team: self-hosted

#2579 Avatar component improvements
  package-lock.json
  package.json
  src/functions/avatar.ts
  src/lib/components/ui-library/avatars/avatar.svelte
Labels: performance, section: changelog

#2705 docs(java): update versions
  gitpod/docs/languages/java.md
Labels: team: IDE, section: docs

#2685 Docs for usage-based billing
  gitpod/docs/usage-based-billing.md
  src/lib/contents/docs/menu.ts
  static/images/docs/billing/active-team-billing.png
  static/images/docs/billing/add-payment-details.png
  static/images/docs/billing/configure-team-billing.png
  static/images/docs/billing/update-usage-limit.png
  static/images/docs/billing/view-team-usage-details.png
Labels: team: webapp

#2681 bump version: Netlify functions, Svelte kit & adapter-netlify
  package-lock.json
  package.json
  tsconfig.json
Labels: performance, enhancement

#2729 Use `calibreapp/image-actions` instead of imgbot
  .github/workflows/optimize-images.yml
Labels: enhancement

#2652 feat[ref arch] Update single cluster ref arch, improve workload to nodepool assignment and clarify high availability
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
  gitpod/docs/self-hosted/latest/reference-architecture/single-cluster-ref-arch.md
Labels: team: self-hosted

#2734 [ref-arch/eks] correct autoscaler helm service account settings
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
  gitpod/docs/self-hosted/latest/reference-architecture/proof-of-value.md
Labels: team: self-hosted

#2735 [ref-arch/eks] Remove clusterissuer namespace
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
Labels: team: self-hosted

#2680 [ref-arch/eks] Add external-dns service account to eksctl service account list
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/cluster.md
Labels: team: self-hosted

#2636 [ref arch/eks] Use Cloudflare, Google DNS servers for dns01 self check
  gitpod/docs/self-hosted/latest/reference-architecture/_chunks/networking.md
Labels: team: self-hosted

#2741 Add localStack x Gitpod blog
  gitpod/docs/self-hosted/latest/reference-architecture/proof-of-value.md
  src/lib/contents/authors.ts
  src/lib/contents/changelog/2022-08-31.md
  src/routes/blog/localstack-and-gitpod.md
  src/routes/contact/get-demo.svelte
  static/images/blog/localstack-and-gitpod/architecture.png
  static/images/blog/localstack-and-gitpod/figure.png
  static/images/blog/localstack-and-gitpod/header.jpg
  static/images/blog/localstack-and-gitpod/requests.png
  static/images/blog/localstack-and-gitpod/vs-code-browser.png
Labels: section: blog

#2766 Update instructions for updating single clusters
  gitpod/docs/self-hosted/latest/installing-gitpod.md
  gitpod/docs/self-hosted/latest/stop-workspaces.md
  gitpod/docs/self-hosted/latest/troubleshooting.md
  gitpod/docs/self-hosted/latest/updating.md
  src/lib/contents/docs/menu.ts
Labels: team: self-hosted

#2772 Introduce `manage cluster nodes` as Troubleshooting material
  gitpod/docs/self-hosted/latest/manage-cluster-nodes.md
  gitpod/docs/self-hosted/latest/troubleshooting.md
  src/lib/contents/docs/menu.ts
Labels: team: self-hosted

#2796 Markdown render changelog entry excerpts
  src/hooks.ts
Labels: section: docs, bug-fix

#2803 New GitHub Stars Layout
  package-lock.json
  package.json
  src/lib/components/customers/story.svelte
  src/lib/components/main-nav/github-stars.svelte
  src/routes/api/layout.ts
  tsconfig.json
Labels: enhancement

#2817 Add a documentation page explaining how to set workspace requests and limits (rebased)
  gitpod/docs/configure/self-hosted/latest/configuring-workspace-resources.md
  gitpod/docs/configure/self-hosted/latest/installing-gitpod.md
  gitpod/docs/configure/self-hosted/latest/operational-guides.md
  src/lib/contents/docs/menu.ts
Labels: section: docs

#2767 Add core dump feature
  gitpod/docs/references/gitpod-yml.md
Labels: on:hold

#2759 Minor updates to changelog automation
  package-lock.json
  package.json
  scripts/generate-changelog.js
  scripts/lib/dates.js
  src/lib/contents/changelog/_template.md
Labels: section: changelog

#2829 [Major] fix: Algolia Search Integration
  src/lib/components/docs/search.svelte
Labels: priority:high, enhancement
