Repository gitpod-io/website, pull requests merged in 2022-05, with the labels that each got.

#1959 Add instructions for collecting logs in JetBrains IDEs
  gitpod/docs/troubleshooting.md
Labels: team: IDE

#1981 Rephrase reason why user should use the latest version of JetBrains Gateway
  gitpod/docs/troubleshooting.md
Labels: team: IDE, editor: jetbrains

#1948 Fix some details about VS Code Extensions
  gitpod/docs/ides-and-editors/vscode-extensions.md
Labels: team: IDE, section: docs, editor: vscode

#1987 [blog] Fix typo and time formatting
  src/routes/blog/sustained-performance-degradation.md
Labels: section: blog, team: workspace

#1916 Adjust "launch workspace" buttons
  src/lib/components/index/get-started/project.svelte
Labels: community-contribution

#1998 Fix figcaption sveltekit warnings
  src/routes/guides/connect-multiple-repositories-using-tailscale/index.md
Labels: community-contribution

#1994 Add GitLive to External Collaboration Plugins section
  gitpod/docs/sharing-and-collaboration.md
Labels: team: IDE

#1976 Improvements to VS Code settings sync docs
  gitpod/docs/ides-and-editors/faqs.md
  gitpod/docs/ides-and-editors/settings-sync.md
  static/images/editors/enable-settings-sync.png
  static/images/editors/enable-signin-with-gitpod.png
  static/images/editors/gitpod-extension.png
  static/images/editors/resolve-merge-conflicts.png
  static/images/editors/restart-vscode.png
  static/images/editors/settings-sync-enabled.png
  static/images/editors/signin-and-turnon.png
Labels: team: IDE

#2021 docs: jetbrains docs in gitpod yaml ref
  generators/ide/jb-product.md
  gitpod/docs/ides-and-editors/goland.md
  gitpod/docs/ides-and-editors/intellij.md
  gitpod/docs/ides-and-editors/phpstorm.md
  gitpod/docs/ides-and-editors/pycharm.md
  gitpod/docs/references/gitpod-yml.md
Labels: team: IDE

#2132 Update teams and projects roles table to include project settings and project variables
  gitpod/docs/teams-and-projects.md
Labels: section: docs
