Repository gitpod-io/website, pull requests merged in 2023-06, with the labels that each got.

#3734 Describe workspace lifetime
  gitpod/docs/configure/workspaces/workspace-lifecycle.md
Labels: team: workspace

#3739 [Analytics] Remove date from cookieless hashable
  src/routes/api/collect-data.ts
Labels: do not merge/hold

#3760 fix: Add protocol HTTPS configuration
  gitpod/docs/configure/workspaces/ports.md
  gitpod/docs/references/gitpod-cli.md
  gitpod/docs/references/gitpod-yml.md
  src/lib/contents/changelog/https-ports.md
  static/images/changelog/https-port-configuration.webp
Labels: section: changelog, section: docs-content

#3763 Svelte Kit Updates
  .env.example
  .github/workflows/cypress-e2e-test.yml
  .gitpod.yml
  package-lock.json
  package.json
  src/ambient.d.ts
  src/app.html
  src/lib/api/save-to-spreadsheet.ts
  src/lib/utils/feature-flag-provider.ts
  src/routes/__layout.svelte
  src/routes/api/[slug].avatar.ts
  src/routes/api/[slug].docs.json.ts
  src/routes/api/changelogs/index.ts
  src/routes/api/collect-data.ts
  src/routes/api/dedicated-signup.ts
  src/routes/api/download-whitepaper.ts
  src/routes/api/feedback.ts
  src/routes/api/layout.ts
  src/routes/api/register-webinar.ts
  src/routes/api/security-logs/index.ts
  src/routes/api/signup.ts
  src/routes/api/submit-form.ts
  src/routes/blog/rss.xml.ts
  src/routes/changelog/latest.ts
  src/routes/changelog/raw-markdown.ts
  src/routes/changelog/rss.xml.ts
  src/routes/sitemap.xml.ts
  vite.config.js
Labels: migration

#3783 [docs] Add details about user env var matching
  gitpod/docs/configure/projects/environment-variables.md
Labels: team: webapp

#3656 The OIDC docs
  gitpod/docs/configure/projects/environment-variables.md
  gitpod/docs/configure/workspaces/oidc.md
  gitpod/docs/integrations/aws.md
  src/lib/contents/docs/menu.ts
  static/images/docs/oidc-flow.png
Labels: section: docs-content, docs-main-section: configure, docs-sub-section: integrations
